<!doctype html>
<html>
  <head>
    <title>JINJA</title>
    <meta charset="utf-8" />
    <script defer src="/public/bootstrap.min.js"></script>
    <script defer src="/public/htmx.min.js"></script>
    <script defer src="/public/idiomorph-ext.min.js"></script>
    <script defer src="/public/_hyperscript.min.js"></script>

    <style>
      /*{% include "tailwind.css" %}/**/
    </style>
    {% block head %}{% endblock %}
  </head>

  <body hx-boost="true" class="h-screen flex flex-col">
    <div
      _="on load from document set my *display to 'none'"
      class="absolute top-0 left-0 w-screen h-screen bg-gray-500/60 flex items-center justify-center"
    >
      {% include "spinner.jinja.html" %}
    </div>
    <banner>{% include "navbar.jinja.html" %}</banner>
    <main
      class="px-4 container max-w-5xl flex-1 flex flex-col self-center justify-center"
    >
      {% block content %}{% endblock %}
    </main>
    <script>
      function copyPreloads() {
        if (document.readyState !== "interactive") return;
        const preloads = document.querySelectorAll('link[rel="preload"]');
        for (const preloadLink of preloads) {
          const realLink = preloadLink.cloneNode();
          if (realLink.href.endsWith(".css")) {
            realLink.rel = "stylesheet";
          }
          preloadLink.after(realLink);
        }
        document.removeEventListener("readystatechange", copyPreloads);
      }
      document.addEventListener("readystatechange", copyPreloads);
      copyPreloads();
    </script>
  </body>
</html>
