{% macro formControl(name, label, value, inputType, pattern) %}
  <label
    class="mb-2 leading-none bg-slate-200 rounded-t-md border-b-2 border-gray-400
        focus-within:border-blue-400 block text-sm text-gray-500 pt-2 px-2 w-full"
  >
    {{ label }}
    <input
      class="block outline-none ring-0 my-1 w-full text-gray-800 text-base leading-none"
      type="{{ inputType }}"
      name="{{ name }}"
      value="{{ value }}"
      pattern="{{ pattern }}"
      required
    />
  </label>
{% endmacro %}

<div id="{{ crate::TASK_FORM_ID }}" class="position-relative">
  <h2 class="my-3 text-2xl font-light">
    {% if task is defined %}
      {% match task.edit_target %}
        {% when Some with (_) %}
        Edit task {% when None %} Create task
      {% endmatch %}
    {% else %}
      Create task
    {% endif %}
  </h2>
  <div
    class="spinner"
    style="display: none"
    hx-ext="preload"
    _="on htmx:beforeRequest from body set my *display to 'flex'
         on htmx:afterRequest from body set my *display to 'none'"
  >
    {% include "spinner.jinja.html" %}
  </div>
  <form
    id="task-edit-form"
    hx-post="/fragments/tasks"
    _="on htmx:afterRequest wait 0.1s then send click to #refresh-tasks"
    hx-target="#{{ crate::TASK_FORM_ID }}"
    class="my-3"
  >
    {% if let Some(user) = user %}
      <input type="hidden" name="owner" value="{{ user.id }}" />
    {% endif %}
    <input
      type="hidden"
      name="edit_target"
      value="{{ task.edit_target.as_ref()|ok_or_default }}"
    />
    {% call formControl("title", "Title", task.title.as_ref()|ok_or_default, "text", "\\w{,3}") %}
    {% call formControl("description", "Description", task.description.as_ref()|ok_or_default, "text", "\\w{,3}") %}
    <input class="btn ml-auto block" type="submit" />
  </form>
</div>
